@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0e1116 #222831; /* thumb, track */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.y-cursor {
  position: absolute;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100%;
  z-index: 5;
  pointer-events: none;
}

.y-cursor-selection {
  position: absolute;
  opacity: 0.3;
  z-index: 5;
  pointer-events: none;
}

.y-cursor-label {
  position: absolute;
  top: -1.2em;
  left: -2px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}